# Folders
__*
__pycache__
.ipynb_checkpoints
.old_files
archives
Input/GRB*
Output/*A

# Extensions
*.fits
*.png
*.zip
*.tar.gz
*.yaml
*.sh
#*.ipynb

# Files
Tutorial*


###########################
# Other Extensions
#*.indx
#*.reg
#*.md
#*.log
#*.coverage

# Other Folders
#.pytest_cache
#*egg-info
#.coverage*
#artifacts
#sagsci/caldb
#sagsci/examples/data/*_reflection/*.reg
#sagsci/examples/data/*_reflection/*results*xml
#sagsci/examples/data/*_wobble/run*/*.reg
#sagsci/examples/data/*_wobble/run*/*results*xml

# Other Files
#sagsci/conf.py
#loadenv.sh
#prod5.sh
#sagsci/wrappers/*_run.sh
#sagsci/examples/mkr501.sh
#sagsci/examples/lst1test.sh
#sagsci/examples/*.sh

# Exceptions
#!environment.sh
#!sagsci/examples/data/
#!sagsci/examples/runtest.py
#!sagsci/CTAGammaPipeCommon/templates/base_empty.fits
#!sagsci/CTAGammaPipeCommon/templates/countsmap_empty.fits
#!README.md
#!CHANGELOG.md
#!tutorials/notebooks/*ipynb
#!tutorials/data/*fits

# Unit test
#test/unittest/artifacts
#test/unittest/sagenv
#test/unittest/sagtest

#*.DS_Store
#!LICENSE
#!.gitignore
#!__init__.py
#!test/unittest/tools/data/*fits
